body{
    margin: 0;
}
.pedro{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: calc(5% - 10px); */
    width: 62px;
    background-color: #023047;
    
}

@media screen and (min-width: 1000px){
    .pedro{
        transition: cubic-bezier(0,.18,.53,1);
        transition: width 800ms;
        transition-delay: 0.1s;
    }
    .pedro:hover{
        width: 15%;
    }
}
.gama{
    height: 100vh;
    width: 100vw;
    background-color: #023047;
}
.container{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 500px){
    .container{
        flex-direction: column;
        height: 20vh;
    }
    .pedro{
        
        flex-direction: row;
        width: 100vw;
        height: 9vh;
    }
    .bottom{
        height: 50px;
        width: 100%;
    }
    .imgContainer{
        margin: 5px;
        width: 40px;
        height: 40px;
    }
    .gama{
        height: 50vh;
    }
    .gridContainerSide{
        grid-template-columns: auto auto auto auto auto auto;
        overflow: scroll;
    }
    .img{
        margin-top: 10px;
        padding: 5px;
        border-right: 1px solid white;
        height: 100%;
        width: 100%;
    }
    .gridChildSide{
        height: 45%;
        width: 45%;
        
    }
    .bottomContainer{
        width: 100%;
        height: 100%;
    }
    .subModal{
        height: 100vh;
        width: 100vw;
    }
    .flexSubModal{
        /* position: fixed;
        top: 0;
        left: 0; */
        height: 100vh;
        width: 100vw;
        max-width: 0vw;
        max-height: 0vh;
        background-color: #8ecae6;
    }
    .topModal{  
        max-height: 8%;
        width: 100%;
    }
    .bottomModal{
        max-height: 10%;
        width: 100%;
    }
    #close{
        min-width: 15%;
    }
    .flexInput{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .input{
        height: 5vh;
        width: 93vw;
        border: 2px solid grey;
        border-radius: 8px;
    }
}
.top{
    width: 100%;
    height: 5vh;
    background-color: #219ebc;
    
}
.bottom{
    width: 100%;
    height: 9%;
    background-color: #219ebc;
    position: fixed;
    bottom: 0;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.content{
    background-color: green;
    /* height: 50vh; */
    padding: 8px;
    max-height: 80vh;
    overflow: auto;   
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }  
  ::-webkit-scrollbar-track {
    background-color: rgba(189, 189, 189, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(119, 119, 119);
    border-radius: 30px;
  }
.top2{
    background-color:#8ecae6;
    border: 1px solid rgb(22, 22, 22);
    padding: 15px;
    height: 85vh;
    
}
.gridContainerSide{
    display: grid;
    /* margin-top: 100px; */
    grid-template-columns: 6, 1;
    padding: 5px;
    gap: 10px;
}
.gridChildSide{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    background-color: #ffb703;
    transition: background-color .40s;
    overflow: hidden;
}
.gridChildSide:hover{
    background-color: #ffd260;
    transform: 5s;
    transform: scale(1.02,1.02);
}
.bottomContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100VW - 62px);
    height: 100%;
}
a{
    vertical-align: middle;
    text-decoration: none;
    color: black;
    overflow: hidden;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
a:hover{
    overflow: visible;
}
.buttonBottom{
    font-weight: bold;
    /* font-size: medium; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    padding: 10px;
    background-color: #ffb700;
    border: 2px solid black;
    box-shadow: 3px 3px;
    border-radius: 8px;
    
}
.buttonBottom:hover{
    cursor: pointer;
    transition: background-color .40s;
    background-color: #ffca44;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    text-align: center;
    gap: 8px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
    background-color: #cfcfcf;
    
    
}
@media screen and (max-width: 1000px) {
    .gridContainer{
        grid-template-columns: auto auto;
        /* height: 45vh; */
        overflow: scroll;
    }
    .bottomContainer{
        width: calc(100VW - 62px);
    }
    .img{
        height: 50px;
        width: 50px;
    }
    /* .bottom{
        height: 8,9vh;
    }   */
}
@media screen and (max-width: 700px) {
    .gridContainer{
        grid-template-columns: auto;
        height: 100%;
        overflow: scroll;
    }
    .content{
        height: 80vh;
    }  
    .bottomContainer{
        width: calc(100VW - 62px);
    }
    /* .bottom{
        height: 12vh;
    }  
     */
}
.gridChild{
    height: 164px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 3px 3px;
    border-radius: 7px;
    background-color: #ffb700;
    transition: background-color .40s;
}
.gridChild:hover{
    background-color: #ffd260;
}
.imgSide{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    padding-right:  5px;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px; */
}
.img{
    height: 90%;
    width: 90%;
}
.botao{
    margin-left: 59vw;
}
/* fazer layout do card e aprender a mexer com dialog depois disso fazer com que cadastre o card e apareca na tela e depois salvar no banco de dados,
 estudar backend e api's depois fremework analizar vue etc*/
 .contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
 }
 .contentChild{
    overflow: auto;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
 }
 .contentChild1{
    word-wrap: break-word;
    font-size: 1.2rem;
    
 }
 .contentChild2{
    
    font-size: 1.3rem;
    padding: 5px;
    color: aliceblue;
    background-color: #023047;
 }
 .modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
.subModal{
    background-color: rgb(255, 255, 255);
    z-index: 12;
}
.fundoModal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cfcfcf;
    opacity: 0.5;
    z-index: 11;
}
.imgModal{
    height: 100%;
    width: 100%;
}
.flexSubModal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 75vw;
    max-height: 70vh;
    overflow: auto;
    background-color: #8ecae6;
}
.topModal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    background-color: #023047;
}
.mainFlexModal{
    display: flex;
    overflow: auto;
    /* padding: 10px; */
    height: 100%;
    width: 100%;
}
.bottomModal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: bottom;
    height: 10vh;
    width: 100%;
    background-color: #023047;
}
.bottomModalContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 95%;
}
#close{
    cursor: pointer;
    height: 100%;
    width: 10%;
    align-items: end;
    padding: 5px;
    float: right;
}
.contentModal{
    margin: 10px;
    display: grid;
    gap: 10px;
    overflow: auto;
    word-wrap: break-word;
    background-color: #8ecae6;
    height: 100%;
    width: 100%;
}

.modalSpan{
    font-size: 1.5rem;
    color: white;
}
.flexBtnModalTop{
    width: 100%;
    height: 100%;
}
.modulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}
#buttonModal{
    cursor: pointer;
    height: 5vh;
    width: 7vw;
    max-width: 110px;
    min-width: 60px;
    background-color: #ffb700;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid black;
    box-shadow: 3px 3px;
    border-radius: 7px;
    font-size: medium;
    font-weight: bolder;
}
#buttonModal:hover{
    background-color: #ffca44;
    transition: background-color .40s;
}
.flexInput{
    display: flex;
    flex-direction: column;
    width: 45vw;
}
.input{
    height: 5vh;
    border: 2px solid grey;
    border-radius: 8px;
}
.label{
    font-size: 1rem;
    font-weight: bolder;
}