body{
    padding: 15px;
}

.hide{
    display: none;
}

a, input[type="submit"]{
    padding: 10px, 20px;
    cursor: pointer;
}
a:hover,input[type="submit"]{
    background-color: blue;
}
#button{
    padding: 10px;
}
.flex{
    display: flex;
}
table, td, th {
    border: 1px solid;
    padding: 5px;
}
#table{
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover{
    background-color: rgb(1, 184, 99);
    color: aliceblue;
}
th{
    background-color: rgb(1, 184, 99);
    color: aliceblue;
}
.pd{
    height: 50vh;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }  
  ::-webkit-scrollbar-track {
    background-color: rgba(189, 189, 189, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(119, 119, 119);
    border-radius: 30px;
  }