#grid{
    display: grid;
    margin-top: 30px;
    max-width: 100vw;
    height: 85vh;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    overflow: auto;
}
.gridChild{
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 15px;
    background-color: aquamarine;
    border: 1px solid black;
}
#modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
#subModal{
    background-color: rgb(255, 255, 255);
    z-index: 12;
}
#fundoModal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cfcfcf;
    opacity: 0.5;
    z-index: 11;
}