#grid{
    display: grid;
    margin-top: 50px;
    height: 50vh;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}
.gridChild{
    background-color: aquamarine;
    border: 1px solid black;
}
#modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
#subModal{
    background-color: rgb(255, 255, 255);
    z-index: 12;
}
#fundoModal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cfcfcf;
    opacity: 0.5;
    z-index: 11;
}