
   

<link rel="stylesheet" href="menu-lateral.css">

<div class="menu-lateral">
    <h2>Fake SIAG</h1>
        <div class="lateral">
            
                <a href="../index.html" target="_top"><div class="iconLateral"><img class="img" src="../assets/icons/house-solid.svg" alt="">Cristal</div></a>
            
                <a href="../home.html" target="_top"><div class="iconLateral"><img class="img" src="../assets/icons/magnifying-glass-solid.svg" alt="">Search</div></a>

                <a href="../teste.html" target="_top"><div class="iconLateral"><img class="img" src="../assets/icons/bell-solid.svg" alt="">Test</div></a>
            
                <a href="../settings.html" target="_top"><div class="iconLateral"><img class="img" src="../assets/icons/gear-solid.svg" alt="">Settings</div></a>

                <a href="../pedro.html" target="_top"><div class="iconLateral"><img class="img" src="../assets/icons/gear-solid.svg" alt="">Pedro</div></a>

        </div>
    
</div>