<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="topBar.css">
</head>
<body>
    <!-- <div class="topContainer">
        <div class="ham"></div>
        <div class="imgTop"></div>
    </div> -->
    <aside class="sidebar flex">
        <nav>
            <ul>
                <li><a href="../home.html">l~~oi</a></li>
                <li><a href="../index.html">ó~ióip</a></li>
                <li><a href="../teste.html">õ~po~p</a></li>
                <li><a href="../pedro.html"></a>~opo~</li>
                <li><a href="../settings.html">~~õpõu</a></li>
                <li><a href="../pedro.html"></a>uççuuç</li>
            </ul>
        </nav>
    </aside>
    <div class="flex">grwstvtvtvtvtvtvtvtvtvtvtyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
        yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyygfggggggggggggggggg
        ggggggggggggggggggggggggggggggggggggggggggggggggggggggg
        ggggggggggggggggggggggggggggggggggggggggggggggggggggggg
        gggggggggggggggggggggggggggggggggggggggggggggggggggggggg
        gggggggggggggggggggggggggggggggggggggg
        gggggggggggggggggggggggggggggggggggggggggggggggvuki</div>
</body>
</html>