body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 60%;
}
th{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    background-color: cadetblue;
}
td{
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
background-color: #dddddd;
}
